<header class="site-header sticky-top pt-5">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'/'">[logo]
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow" role="tablist">
          <li class="nav-item" [ngClass]="{'active':router.url==='/'}">
            <a class="nav-link" data-toggle="tab" [routerLink]="'/'">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{user.family_name}} {{user.given_name}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>


        </ul>
      </div>
      <span class="badge badge-light ml-2">
        {{user.groups}}</span>
    </div>
  </nav>
</header>
